{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col min-h-screen items-center justify-center">
        <div class="p-4 text-center w-full max-w-[350px] bg-[#dddddd] rounded-md shadow-md">
            <h1 class="text-xl font-bold mb-6">Edit Book</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" class="w-full p-2 rounded-[10px] mb-2 border border-blue-500" value="{{ book.name }}" name="name">
                <input type="text" class="w-full p-2 rounded-[10px] mb-2 border border-blue-500" value="{{ book.author }}" name="author">
                <input type="text" class="w-full p-2 rounded-[10px] mb-2 border border-blue-500" value="{{ book.name_of_borrower }}" name="borrower">
                <input type="text" class="w-full p-2 rounded-[10px] mb-2 border border-blue-500" value="{{ book.class_of_borrower }}" name="class">
                <input type="text" class="w-full p-2 rounded-[10px] mb-2 border border-blue-500" value="{{ book.status }}" name="status">
                <button class="p-2 bg-blue-500 w-full rounded-[10px] text-white hover:bg-blue-700" type="submit">Save</button>
            </form>
            
        </div>
    </div>
{% endblock %}